
.card-slider {
  display: flex;
  flex-direction: row;
justify-content: center;
  align-items: center;
  margin-top: 60px;
  position: relative;
  height: 400px;
  margin: 60px;
  gap: 80px;
}

.card-stack {
  position: relative;
  width: 360px;
  height: 430px;
  perspective: 1000px;
}
.card-info{
  width: 500px;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease, opacity 0.5s ease;
  cursor: pointer;
}

.controls {
  margin-top: 20px;
}
.button-next{
  position: absolute;
  top: 45%;
  right: -6%;
  z-index: 10;
  font-size: 2.5rem;
  color: white;
  stroke: #27049a;
  stroke-width: 25px;     
}
.button-prev{
  position: absolute;
  top: 45%;
  left:-5.7%;
  z-index: 10;
  font-size: 2.5rem;
  color: white;
  stroke-width: 25px;
  stroke: #27049a;
}
.controls button:hover {
  transform: scale(1.05);
}
.tecnologies ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
  gap: 10px;
}
.tecnologies ul li{
  opacity: 1;
  background: white;
  border-radius: 30px;
  color: black;
  border-radius: 20px;
  padding: 10px 12px;
  font-size: 1rem;
}